/*
                 VARIABLES
===========================================*/

//  COLORS
$main-clr: hsl(0, 0%, 9%);
$second-clr: hsl(0, 0%, 19%);
$third-clr: hsl(0, 0%, 29%);

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$hero-clr: hsl(47, 100%, 50%);

$link-hvr-clr: $hero-clr;

// BACKGROUNDS
$body-bg: hsl(0, 0%, 25%);

// WIDTHS AND HEIGHTS